<%= form_for @question, url: {action: "update"}, html: {class: "edit_form"} do |f| %>
  <fieldset>
    <legend>Title</legend>
    <%= f.text_field :title, placeholder: "What's your programming question? Be specfic.", size: "60" %> <br><br>

    <!-- <h3>Content</h3> -->
    <%= f.label :content, "Details" %> <br>
    <%= f.text_area :content, placeholder: "Details goes here.", size: "60x10" %> <br>
    <%= f.submit "Update Your Question", data: {confirm: "Are you sure?"} %>
    <%= link_to 'Delete', question, method: :delete %>
  </fieldset>
  <% end %>

<!--
<form accept-charset="UTF-8" action="/articles/create" method="post" class="nifty_form">
  <input id="article_title" name="article[title]" type="text" />
  <textarea id="article_body" name="article[body]" cols="60" rows="12"></textarea>
  <input name="commit" type="submit" value="Create" />
</form>
-->