<h3 id="h-top-questions">Top Questions</h3>

<% @questions.each do |question| %>
<div class="cp">
    <p class="divisor"></p>
    <div class="votes">
        <div><%= rand(1..100) %> <br></div>
        <div>votes</div>
    </div>
    <div class="status unanswered">
        <div><%= rand(1..100) %> <br></div>
        <div>answers</div>
    </div>
    <div class="views">
        <div><%= rand(1..100) %> <br></div>
        <div>views</div>
    </div>
    <div class="questions">
        <p><%= question.title %></p>
        <div class="questions_option">
            <p><%= link_to "Show", question_path(question) %></p>
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
    </div>
</div><br>
<% end %>