<table class="index_table">
    <tr>
        <th><h2>Top Questions</h2></th>
        <th><h3><%= link_to "Ask Question?", new_question_path %></h3></th>
    </tr>
</table>
<% @questions.each do |question| %>
<div class="cp">
    <p class="divisor"></p>
    <div class="votes">
        <div><%= rand(1..100) %> <br></div>
        <div>votes</div>
    </div>
    <div class="status unanswered">
        <div><%= rand(1..100) %> <br></div>
        <div>answers</div>
    </div>
    <div class="views">
        <div><%= rand(1..100) %> <br></div>
        <div>views</div>
    </div>
    <div class="questions">
        <p><%= question.title %></p>
        <div class="voting">
            <p><%= link_to "Show", question_path(question) %></p>
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
    </div>
</div><br>
<% end %>