<div class="cp">
    <div class="questions">
        <h2><%= @question.title %></h2>
        <p><%= @question.content %></p>
        <div class="voting">
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
        <table class="show_table">
            <tr>
                <th><h4><%= link_to "Edit", edit_question_path(@question) %></h4></th>
                <th><h4><%= link_to 'Delete', @question, method: :delete %></h4></th>
            </tr>
        </table>

    </div>
    <div class="answers">
        <h2>Top Answers</h2>
        <% @question.answers.each do |answer| %>
        <h3><%= answer.title %></h3>
        <p><%= answer.content %></p>
        <div class="voting">
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
        <p class="divisor"></p>
        <% end %>
        <h3><%= @empty %></h3>
    </div>

    <div class="your_answer">
        <h2>Your Answer</h2>
        <%= form_for ([@question, @question.answers.build]), url: {action: "create"}, html: {class: "new_form"} do |f| %>
        <fieldset>
            <legend>Answer</legend>
            <ul><li>Please be sure to answer the question. Provide details and share your research!</li></ul>
            <%= f.text_field :title, placeholder: "What's the title of your answer? Be specfic.", size: "60" %> <br><br>
            <%= f.text_area :content, placeholder: "What's your answer?", size: "60x10" %> <br>
            <%= f.submit "Post Your Question", data: {confirm: "Are you sure?"} %>
        </fieldset>
        <% end %>
    </div>
</div>

