<div class="cp">
    <div class="questions">
        <h1><%= @question.title %></h1>
        <p><%= @question.content %></p>
        <div class="voting">
            <p><%= link_to "Upvote" %></p>
            <p><%= link_to "Downvote" %></p>
        </div>
        <table class="show_table">
            <tr>
                <th><h4><%= link_to "Edit", edit_question_path(@question) %></h4></th>
                <th><h4><%= link_to 'Delete', @question, method: :delete %></h4></th>
            </tr>
        </table>

    </div>
    <div class="answers">
        <h2><%= @question.answers.size %> Answers</h2>
        <p class="divisor"></p>
        <%= render @question.answers %>
        <h3><%= @empty %></h3>
    </div>

    <div class="your_answer">
        <h2>Your Answer</h2>
        <%= render 'answers/form' %>
    </div>
</div>

