<body>
    <!-- <h1>Stack Overflow</h1> -->
    <img src="images/stackoverflow-logo.png" alt="logo" class="logo">
    <h3>Today is <%= Time.now %></h3>
    <p><%= link_to "Test", question_test_path %></p>

    <h1 id="h-top-questions">
        Top Questions
    </h1>
    <% @questions.each do |question| %>
    <div class="cp">
        <div class="votes">
            <!-- <p></p> -->
            <div><%= rand(1..100) %> <br></div>
            <div>votes</div>
        </div>
        <div class="status unanswered">
            <div><%= rand(1..100) %> <br></div>
            <div>answers</div>
        </div>
        <div class="views">
            <div><%= rand(1..100) %> <br></div>
            <div>views</div>
        </div>
        <div class="questions">
            <p><%= question.title %></p>
        </div>
    </div><br>
    <% end %>



</body>
