<body>
    <!-- <h1>Stack Overflow</h1> -->
    <img src="images/stackoverflow-logo.png" alt="logo">
    <h3>It's <%= Time.now %></h3>
    <p><%= link_to "Test", question_test_path %></p>

    <h1 id="h-top-questions">
        Top Questions
    </h1>
    <% @questions.each do |question| %>
    <div class="cp">
        <div class="votes">
            <div>|  <%= rand(1..100) %></div>
            <div>votes |</div>
        </div>
        <div class="status unanswered">
            <div><%= rand(1..100) %></div>
            <div>answers |</div>
        </div>
        <div class="views">
            <div><%= rand(1..100) %></div>
            <div>views |</div><br>
        </div>
        <div class="questions">
            <%= question.title %>
        </div>
    </div><br>
    <% end %>



</body>
