<!-- (1) Rendering Partial Collections

The partial here will be rendered once for EACH answer that is in the @question.answers collection.

As the render method iterates over the @question.answers collection, it assigns each answer to a local variable named the same as the partial, i.e. answer -->
<div class="a_votes">
  <%= answer.vote %> <br>
  votes
</div>
<div class="answer_voting">
  <p><%= link_to "Up", upvote_question_answer_path(@question, answer), method: :post %></p>
  <p><%= link_to "Down", downvote_question_answer_path(@question, answer), method: :post %></p>
</div>
<div class="answer_content">
  <h3><%= answer.title %></h3>
  <p><%= answer.content %> <%= answer.created_at %></p>
</div>
<p class="divisor"></p>