<!DOCTYPE html>
<html>
<head>
  <title>Stack Underflow</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <!-- <img src="/images/stackoverflow-logo.png" alt="logo" class="logo"> -->
    <h1>Interview<b>Garden</b></h1>
    <h3>Your favorite platform for preparing software engineering interviews.</h3>
  </div>

  <%= yield %>
  <p class="footer_link"><%= link_to 'Back to homepage', questions_path %></p>
  <h3 class="footer">&copy; 2015 Anthony Ng</h3>
</body>
</html>
